<div class="content">
  <%= render "shared/top-content" %>
  <%= render "shared/menu-bar" %>
  <div class="main-contents">
    <%= render "shared/side-bar" %>

    <div class="my-page">
    
      <div class="my-recipes">
        <div class="my-recipes-head">マイレシピ</div>

        <%# 検索 %>
        <div class="my-recipe-search">
          <%= form_with url:'/', method: :get, local: true do |f| %>
            <%= f.text_field :keyword, class: "search-form" %>
            <%= button_tag :type => "submit", class: "search-button" do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
        </div>

        <%# レシピ一覧 %>
        <% @my_recipes.each do |recipe| %>
          <div class="my-recipe">
            <div class="my-recipe-title">
              <%= link_to recipe.title, recipe_path(recipe.id), class:"recipe-link" %>
            </div>
            <div class="my-recipe-date">
              <%= l recipe.created_at %>
            </div>
            <div class="my-recipe-url">
              <%= link_to recipe.site_type.name, recipe.url, class:"recipe-link recipe-site-link" %>
            </div>
          </div>
        <% end %>
        <%= paginate @my_recipes %>
      </div>

      <div class="my-blogs">
        <div class="my-blogs-head">ブログ</div>
        <div class="my-blogs-head">
          
        </div>

      
      
      </div>

    </div>
  </div>


  <div class="bottom-content">
    <%= render "shared/bottom-content"%>
  </div>

</div>