<div class="content">
  <%= render "shared/top-content" %>
  <%= render "shared/menu-bar" %>
  <div class="main-contents">
    <%= render "shared/side-bar" %>


    <div class="recipe">
      <div class="new-title">レシピ追加</div>
      <div class="new-recipe-form">
      <%= form_with model: @form_recipe_ingredient, url: recipes_path, local: true do |f| %>
        <div class="new-recipe-title">title</div>
        <%= f.text_field :title, class: "new-recipe-form-field"%>

        <div class="recipe-url">URL</div>
        <%= f.text_field :url, class: "new-recipe-form-field"%>

        <div class="site_type">youtubeかそれ以外かを選んでください。</div>
        <%= f.collection_select(:site_type_id, SiteType.all, :id, :name, {}, {class:"new-recipe-form-field"}) %>

        <div class="effort-level">どのくらいの手間がかかるか、☆いくつ？</div>
        <%= f.collection_select(:effort_level_id, EffortLevel.all, :id, :name, {}, {class:"new-recipe-form-field"}) %>

        <br>
        材料表示は検討中
        <br>

        <div class="recipe-content">本文</div>
        <%= f.rich_text_area :content, class: "new-recipe-rich-text-form"%>


        <%= f.submit '追加', class: "list-add-button" %>
      <% end %>
    </div>

    </div>
  
  
  </div>
  <div class="bottom-content">
    <%= render "shared/bottom-content"%>
  </div>
</div>
