<div class="content">
  <%= render "shared/top-content" %>
  <%= render "shared/menu-bar" %>

  <div class="main-contents">
    <%= render "shared/side-bar" %>

    <div class="recipe-show-block">
      <div class="recipe-show">
        <div class="recipe-title"><%= @recipe.title %></div>
        <%# youtubeの場合 %>
        <% if @recipe.site_type_id == 2 %>
          <div class="recipe-show-content">
            <div class="recipe-show-youtube">
              <iframe width="300" height="220" src="https://www.youtube.com/embed/<%= @recipe.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="recipe-show-youtube-others">
              <div class="recipe-show-link">
                <%= link_to "https://youtu.be/#{@recipe.url}",target: :_blank, rel: "noopener noreferrer", class:"recipe-show-link" do %>
                  レシピを見る<i class="fa fa-external-link" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="recipe-show-ingredients">
                素材：
                <% @ingredients.each do |ingredient| %>
                  <%= ingredient.name %>
                <% end %>
              </div>
              <div class="recipe-show-effort">
                手間度：<%= render "shared/effort-level-show", model: @recipe %>
              </div>
            </div>
          </div>

        <% else %>
        <%# それ以外の場合 %>
          <div class="recipe-show-content other">
            <%= link_to @recipe.url, target: :_blank, rel: "noopener noreferrer", class: "recipe-show-link" do %>
              レシピを見る<i class="fa fa-external-link" aria-hidden="true"></i>
            <% end %>
            <div class="recipe-show-ingredients">
              素材：
              <% @ingredients.each do |ingredient| %>
                <%= ingredient.name %>
              <% end %>
            </div>
            <div class="recipe-show-effort">
              手間度：<%= render "shared/effort-level-show", model: @recipe %>
            </div>
          </div>
        <% end %>
        <div class="username">Posted by <%= @recipe.user.name %></div>
      </div>

      <%# 投稿者の場合はレシピ本文と編集・削除リンクを表示 %>
      <% if user_signed_in? %>
        <% if @recipe.user_id == current_user.id %>
          <div class="recipe-show-admin">
            <div class="edit"><%= link_to 'edit', edit_recipe_path(@recipe), class: "edit" %></div>
            <div class="delete"><%= link_to 'delete', recipe_path(@recipe), method: :delete, class: "delete" %></div>
          </div>
          <div class="recipe-show-main">
            <%= @recipe.content %> 
          </div>
        <% end %>
      <% end %>

      <%# コメント欄 %>
      <div class="recipe-show-comments">
        <% if @comments %>
          <div class="comment-title">Comments</div>
          <div class="comments">
            <% @comments.each do |comment| %>
              <div class="comment"><%= comment.text %>
                <div class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
              </div><br>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="comment-add-form">
            <%= form_with url: recipe_recipe_comments_path(@recipe), model: [@recipe, @comment], method: :post, local: true do |f| %>
              <%= f.text_field :text, class: "comment-field"%>
              <%= f.submit '投稿', class: "comment-add-button" %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# ブログ表示 %>
      <% unless @blogs.empty? %>
        <div class="recipe-show-blogs">
          <div class="blog-title">Blog</div>
          <div class="blogs">
              <% @blogs.each do |blog| %>
                <div class="blog"><%= blog.title %></div>
              <% end %>
          </div>
        </div>
      <% end %>

      <%# コミュニティ欄 %>
      <% if user_signed_in? %>
        <div class="communications">
          <div class="communication"><%= link_to "/", class:"com-link" do%><i class="fas fa-heart"></i> おいしそう！<% end %></div>
          <div class="communication">
            <%= link_to 'マイレシピ登録', new_favorite_recipe_path(recipe_id: @recipe.id), class:"com-link" %>
          </div>
          <div class="communication"><%= link_to 'ブログを書く', new_recipe_blog_path(@recipe.id), class:"com-link" %></div>
        </div>
      <% end %>

    </div>

  </div>

  <div class="bottom-content">
    <%= render "shared/bottom-content"%>
  </div>
</div>
