<div class="main-content">

  <%# 新着レシピ %>
  <div class="new-recipes">

    <div class="new-recipe-head">新着動画</div>
    <div class="new-recipe-images">
      <% @new_videos.each do |video|%>
        <div class="new-recipe-image">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%= link_to video.title, recipe_path(video.id), class:"recipe-title" %>
            <a class="star">手間度：<%= render "shared/effort-level-show", model: video %></a>           
        </div>
      <% end %>
    </div>
      <div class="page-nation">
      </div>

    <div class="new-recipe-head">新着レシピ</div>

    <% @new_recipes.each do |recipe| %>
      <div class="new-recipe">
        <%= link_to recipe.title, recipe_path(recipe.id), class:"recipe-link" %>
        <%= link_to recipe.site_type.name, recipe.url, class:"recipe-link recipe-site-link" %>
        </div>
    <% end %>
    <%= paginate @new_recipes %>
  </div>
  <%# image_tag("line.png", class:"line-image") %>

<%# 新着ブログ %>
  <div class="new-blogs">
    <div class="new-blog-head">新着ブログ</div>

    <div class="new-blog-articles">
      <% @new_blogs.each do |blog| %>
        <div class="new-blog-article">
          <div class="article-data">
            <div class="article-date"><%= l blog.created_at %></div>
          <div class="article-user">Posted by <%= blog.user.name %></div>
          </div>
          <%= link_to blog.title, recipe_blog_path(recipe_id: blog.recipe_id, id: blog.id), class: "article-title" %>
        </div>
      <% end %>
    </div>
  </div>

    <%# image_tag("line.png", class:"line-image") %>

<%# レシピランキング %>
  <div class="recipe-rank">
    <div class="recipe-rank-head">おいしそう！ランキング</div>

      <div class="rank-recipe-images">
          <div class="rank-recipe-image">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/xGKn7TD9jaM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%= link_to '至高の唐揚げ', '/', class: "recipe-title" %>
          </div>
          <div class="rank-recipe-image">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/JB1LKl_5Mo4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%= link_to 'チキンマカロニグラタン', '/', class: "recipe-title" %>
          </div>
          <div class="rank-recipe-image">
            <iframe width="300" height="250" src="https://www.youtube.com/embed/KtAhYjjf9ak" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%= link_to '炒飯', '/', class: "recipe-title" %>
          </div>
        </div>
      </div>

</div>