<div class="menu-bar">

    <%= link_to "マイページ", "/", class: "menu-bar-element" %>
    <%= link_to "レシピ追加", "/", class: "menu-bar-element" %>
    <%= link_to "詳細検索", "/", class: "menu-bar-element" %>
    <%= link_to "使い方", "/", class: "menu-bar-element" %>
    <%= link_to "分量計算機", "/", class: "menu-bar-element" %>

</div>
