<div class="side-bar">

<%# ログイン済の場合は買い物リスト、それ以外はログインフォームを表示 %>
  <% if user_signed_in? %>

    <div class="list-title">お買い物リスト</div>
      <ul class="list" id="list">
        <% @lists.each do |list|%>
          <label>
            <li class="list-item">
              <input type="checkbox" class="checkbox"><%= list.ingredient.name %>
              <span class="box-icon">
                <%= link_to list_path(list.id), method: :delete, class:"recipe-show-link", id:"box" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </span>
            </li>
          </label>
        <% end %>
      </ul>

    <div class="list-add-form">
      <%= form_with model: @ingredient, url: lists_path, id:"form", method: :post  do |f| %>
        <%= f.text_field :name, class: "list-field", id: "content" %>
        <%= f.submit '追加', class: "list-add-button", id: "list-submit", name: "list-submit" %>
      <% end %>
    </div>
  
  <% else %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="label">Email</div>
        <%= f.email_field :email, autocomplete: "email", class: "list-field", id: "login_email", value: "aaa@aaa" %>
      </div>

      <div class="field">
        <div class="label">Password</div>
        <%= f.password_field :password, autocomplete: "current-password", class: "list-field", id: "login_password", value: "1234qwer" %>
      </div>


      <%# if devise_mapping.rememberable? %>
        <%# <div class="field"> %>
          <%# f.check_box :remember_me %>
          <%# f.label :remember_me %>
        <%# </div> %>
      <%# end %>

      <div class="actions">
        <%= f.submit "Log in", class: "list-add-button" %>
      </div>
    <% end %>

    <%# render "devise/shared/links" %>
    
    <div class="or">または</div>

    <div class="registration">
      <%= link_to '新 規 登 録', new_user_registration_path, class: "registration-text" %>
    </div>

  <% end %>


</div>